.multi-auto-suggest div {
    background-color: gray;
    border: 1px solid black;
    float: left;
    min-height: 20px;
    padding: 10px;
}

.multi-auto-suggest h4 {
    margin: 0px;
}

.multi-auto-suggest ul {
    cursor: pointer;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
